<div class="p-2 md:p-8 mx-auto relative" x-data="notificationApp()" x-init="init()">
    <!-- Notification Tailwind -->
    <div x-show="open" x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100"
        x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100"
        x-transition:leave-end="opacity-0 transform scale-90" :class="toastColor"
        class="fixed top-4 right-4 z-50 p-4 rounded-md text-white shadow-lg flex items-center space-x-2"
        @click="closeToast()">
        <span class="text-xl" :class="toastIcon"></span>
        <p x-text="toastMessage" class="title-font"></p>
    </div>

    <!-- Contenu de la page -->
    <h1 class="text-2xl title-font mb-6 text-center">Liste des Médias</h1>


    <div class="flex justify-between items-center mb-4">
        <div class="relative w-3/5 md:w-1/3">
            <input type="text" id="searchInput" placeholder="Rechercher..."
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-line-blue"
                onkeyup="filterTable([1,2])">
            <span class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-4.35-4.35M10.5 17a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13z"></path>
                </svg>
            </span>
        </div>
    
        <a href="/admin/medias/create"
            class="px-6 py-3 w-32 md:w-auto bg-line-blue text-white rounded-lg hover:bg-blue-600 title-font transition">Créer
            un média</a>
    </div>

    <table class="min-w-full bg-white border border-gray-200 rounded-lg">
        <thead class="bg-gray-200">
            <tr>
                <th class="py-2 px-4 border-b text-left cursor-pointer hidden md:table-cell">
                    Média
                </th>
                <th class="py-2 px-4 border-b text-left cursor-pointer" onclick="sortTable(1)">
                    Nom
                    <span class="inline-block w-4 ml-2">
                        <svg id="sortIcon1" class="fill-current w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M7 10l5 5 5-5H7z" />
                        </svg>
                    </span>
                </th>
                <th class="py-2 px-4 border-b text-left cursor-pointer hidden md:table-cell" onclick="sortTable(2)">
                    Date
                    <svg id="sortIcon2" class="fill-current w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M7 10l5 5 5-5H7z" />
                    </svg>
                </th>
                <th class="py-2 px-4 border-b text-left">Actions</th>
            </tr>
        </thead>
        <tbody id="TableBody">
            <% medias.forEach(media=> { %>
                <tr class="text-sm">
                    <td class="py-2 px-4 border-b text-left text-line-blue hidden md:table-cell">
                        <% if (media.image) { %>
                            <img src="<%= media.image %>" alt="Media Image" class="w-20 h-auto">
                            <% } else if (media.video) { %>
                                <a href="<%= media.video %>" target="_blank" class="hover:underline text-line-blue">
                                    Voir la vidéo
                                </a>
                                <% } %>
                    </td>
                    <td class="py-2 px-4 border-b text-left">
                        <%= media.name %>
                    </td>
                    
                    <td class="py-2 px-4 border-b text-left hidden md:table-cell">
                        <% if (media.date_media) { %>
                            <%= new Date(media.date_media).toLocaleDateString("fr-FR") %>
                        <% } %>
                    </td>

                    <td class="py-2 px-4 border-b text-left">
                        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2">
                            <a href="/admin/medias/edit/<%= media.id %>"
                                class="inline-block w-full md:w-24 px-3 py-1 bg-line-blue text-white text-center rounded hover:bg-blue-600 transition">Éditer</a>
                            <form action="/admin/medias/delete/<%= media.id %>" method="POST" class="inline">
                                <button type="submit"
                                    class="inline-block w-full md:w-24 px-3 py-1 bg-line-red text-white text-center rounded  hover:bg-red-600 transition">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="flex justify-center mt-4 space-x-2" id="paginationControls"></div>
</div>